@import "tailwindcss";

@theme {
  --color-darkblue: hsl(240 98% 5%);
  --color-text: hsl(222 100% 100%);
  --color-textmuted: hsl(222 77% 76%);
  --color-highlight: hsl(223 46% 46%);
  --color-border: hsl(224 57% 35%);
  --color-bordermuted: hsl(227 76% 24%);
  --color-primary: hsl(222 100% 78%);
  --color-secondary: hsl(42 64% 55%);
  --color-danger: hsl(8 68% 66%);
  --color-warning: hsl(52 59% 44%);
  --color-success: hsl(152 45% 49%);
  --color-info: hsl(217 80% 68%);
}

:root {
  --bg-dark: hsl(240 98% 5%);
  --text: hsl(222 100% 100%);
  --text-muted: hsl(222 77% 76%);
  --highlight: hsl(223 46% 46%);
  --border: hsl(224 57% 35%);
  --border-muted: hsl(227 76% 24%);
  --primary: hsl(222 100% 78%);
  --secondary: hsl(42 64% 55%);
  --danger: hsl(8 68% 66%);
  --warning: hsl(52 59% 44%);
  --success: hsl(152 45% 49%);
  --info: hsl(217 80% 68%);

  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text);
}